<footer class="footer mt-6 pb-6">
    <div class="content has-text-centered">
        <p>
            <strong>Blup</strong> by <a href="https://github.com/robcss">Roberto Cassano</a>
        </p>
    </div>
</footer>