<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blup</title>
    <link rel="stylesheet" href="/css/mybulma.css">
    <link rel="stylesheet" href="/css/glidejs/glide.core.min.css">
    <link rel="stylesheet" href="/css/glidejs/glide.theme.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="https://kit.fontawesome.com/312b6a7170.js" crossorigin="anonymous"></script>
    <script src="/js/navbar.js?v6"></script>
    <script src="/js/closeNotification.js?v6"></script>
    <script src="/js/changeTab.js?v6"></script>
    <script src="/js/handleModal.js?v6"></script>
    <script src="/js/retrieveFileNames.js?v6"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body>

    <div id="wrapper">
        <%- include('../partials/navbar')%>

        <section class="container">
            <div class="container is-fluid">
                <%- include('../partials/flash')%>
                <%- body %>
            </div>
        </section>

    </div>

    <%- include('../partials/footer')%>

    <script src="/js/bulma-collapsible/bulma-collapsible.min.js"></script>
    <script src="/js/bulma-collapsible/instanciateBulmaCollapsibles.js?v6"></script>
    <script src="/js/glidejs/glide.min.js"></script>
    <script src="/js/glidejs/glideCarousel.js?v6"></script>

</body>

</html>