<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fountain Finder</title>
    <link rel="stylesheet" href="/css/mybulma.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/glidejs/glide.core.min.css">
    <link rel="stylesheet" href="/css/glidejs/glide.theme.css">
    <script src="https://kit.fontawesome.com/312b6a7170.js" crossorigin="anonymous"></script>
    <script src="/js/closeNotification.js?v6"></script>
    <script src="/js/changeTab.js?v6"></script>
    <script src="/js/handleModal.js?v6"></script>
    <script src="/js/retrieveFileNames.js?v6"></script>
</head>

<body>


    <%- include('../partials/navbar')%>

    <section class="section">

        <div class="container">
            <%- include('../partials/flash')%>
            <%- body %>
        </div>
    </section>

    <script src="/js/glidejs/glide.min.js"></script>
    <script src="/js/glideCarousel.js?v6"></script>

</body>

</html>