<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fountain Finder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="https://kit.fontawesome.com/312b6a7170.js" crossorigin="anonymous"></script>
    <script src="/js/closeNotification.js?v6"></script>
    <script src="/js/changeTab.js?v6"></script>
</head>

<body>


    <%- include('../partials/navbar')%>

    <section class="section">

        <div class="container">
            <%- include('../partials/flash')%>
            <%- body %>
        </div>
    </section>
</body>

</html>