<p class="title is-4">
    Verifications: <button type="button" class="button is-small"><%= fountain.verificationCount %></button>
    <br>
    <br>
    <progress class="progress is-success" value=<%= fountain.verificationCount %> max="10"></progress>
</p>