<% layout('layouts/boilerplate')%>

<div class="container has-text-centered mt-6">
    <div class="columns is-vcentered">
        <div class="column is-6">
            <figure class="image is-3by2">
                <img src="/assets/images/pexels-leah-kelley-3935702.jpg" alt="Description">
            </figure>
        </div>
        <div class="column is-6">
            <h1 class="title is-2">
                What is Blup?
            </h1>
            <h2 class="subtitle is-4">
                Blup is a community driven <br> platform where users can <br> find and signal the
                presence <br> of
                drinking
                fountains.</p>
            </h2>
        </div>
    </div>

    <div class="columns is-vcentered reverse-row-order">
        <div class="column is-6">
            <figure class="image is-3by2">
                <img src="/assets/images/pexels-keira-burton-6147408.jpg" alt="Description">
            </figure>
        </div>
        <div class="column is-6">
            <h1 class="title is-2">
                Find a fountain near you
            </h1>
            <h2 class="subtitle is-4">
                Use the <a href="/fountains">fountains map</a> and visit a fountain show page. <br>
                Look at its pictures, read comments and see how many people verified its presence.</p>
            </h2>
        </div>
    </div>

    <div class="columns is-vcentered">
        <div class="column is-6">
            <figure class="image is-3by2">
                <img src="/assets/images/pexels-nataliya-vaitkevich-7235804.jpg" alt="Description">
            </figure>
        </div>
        <div class="column is-6">
            <h1 class="title is-2">
                Add a new fountain!
            </h1>
            <h2 class="subtitle is-4">
                Have you spotted a fountain in your city <br> or you know about one? <br>
                <a href="/register">Signup</a> and insert a close-enough address <br> in the <a
                    href="/fountains/new">add
                    fountain form</a>. <br>
            </h2>
        </div>
    </div>

    <div class="columns is-vcentered reverse-row-order">
        <div class="column is-6">
            <figure class="image is-3by2">
                <img src="/assets/images/pexels-william-fortunato-6140959.jpg" alt="Description">
            </figure>
        </div>
        <div class="column is-6">
            <h1 class="title is-2">
                Verify a fountain
            </h1>
            <h2 class="subtitle is-4">
                Use the verify button on a fountain page to let other people know that the fountain it's indeed there!
                <br>
                Share something about it in the comments too!
            </h2>
        </div>
    </div>

    <div class="columns is-vcentered">
        <div class="column is-6">
            <figure class="image is-3by2">
                <img src="/assets/images/pexels-ann-h-3482441.jpg" alt="Description">
            </figure>
        </div>
        <div class="column is-6">
            <h1 class="title is-2">
                Report a problem
            </h1>
            <h2 class="subtitle is-4">
                In case something's wrong with a fountain, <br> let people know! <br>
                Whether the address is wrong or there's a malfunction, <br> use the report problem button and describe
                the
                issue.
                <br>
            </h2>
        </div>
    </div>

    <div class="columns is-vcentered reverse-row-order">
        <div class="column is-6">
            <figure class="image is-3by2">
                <img src="/assets/images/pexels-andrea-piacquadio-3767418.jpg" alt="Description">
            </figure>
        </div>
        <div class="column is-6">
            <h1 class="title is-2">
                Mark a report as solved
            </h1>
            <h2 class="subtitle is-4">
                A report tells about an issue that has just been resolved? <br>
                Mark it as solved so people won't avoid the fountain for nothing!
            </h2>
        </div>
    </div>

    <div class="column is-6 is-offset-3 mt-6">
        <a class="button is-large is-fullwidth is-info" href="/register">
            <strong>Sign up now!</strong>
        </a>
    </div>
</div>