/* .bm--card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
} */

.bm--card-equal-height .card-footer {
  margin-top: auto;
}

/* .bm--card-equal-height p {
  display:block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

#mapCluster {
  width: 100%; 
  height: 500px;
}

.index-image {
  height: 300px;
}

.index-image img {
  object-fit: none; 
  object-position: center; 
  height: 100%;
  width: 100%;
}

/* .index-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: none; 
  object-position: center; 
  height: 100%;
  width: 100%;
} */

.tags{
  position: absolute;
  z-index: 5;
}

.counterTag{
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.navbar {
  max-width: 1360px;
  margin: 0 auto;
}


#navbar-logo {
  background: url(../media/dRisorsa4-100.jpg) no-repeat center center;
  background-size: cover;
  
  width: 161px;
  height: 70px;
}

@media (max-width: 1024px) {
  #navbar-logo {
    margin-left: 0;
    width: 107px;
    height: 47px;
  }
}

#map{
  width: 100%; 
  height: 500px;
}

#imageAndMap .image {
    width: 100%;
    height: 500px;
  }
