/* @font-face {
  font-family: blupFont;
  src: url(../assets/fonts/Rounded_Elegance.ttf);
} */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* font-family: blupFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px; */
}

#wrapper {
  flex: 1;
}

.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('../assets/images/pexels-fabio-lima-770225.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .subtitle {
  padding: 2rem 0;
  line-height: 1.5;
}

.navbar {
  max-width: 1360px;
  margin: 0 auto;
}

#navbar-logo{
  background: url(../assets/images/brand_transparent.png) no-repeat center center;
}

#navbar-logo-landing{
  background: url(../assets/images/brand_landing_transparent.png) no-repeat center center;
}

#navbar-logo, #navbar-logo-landing {
  background-size: cover;
  
  width: 161px;
  height: 70px;
}

@media (max-width: 1024px) {
  #navbar-logo, #navbar-logo-landing {
    margin-left: 0;
    width: 107px;
    height: 47px;
  }
}

#mapCluster {
  width: 100%; 
  height: 500px;
}

/* .bm--card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
} */

/* .bm--card-equal-height p {
  display:block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.bm--card-equal-height .card-footer {
  margin-top: auto;
}


.index-image {
  height: 300px;
}

.index-image img {
  object-fit: none; 
  object-position: center; 
  height: 100%;
  width: 100%;
}

/* .index-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: none; 
  object-position: center; 
  height: 100%;
  width: 100%;
} */

.tags{
  position: absolute;
  z-index: 5;
}

.counterTag{
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

#map{
  width: 100%; 
  height: 500px;
}

#imageAndMap .image {
    width: 100%;
    height: 500px;
  }

  .marker {
    background-image: url('../assets/images/map_marker.png');
    background-size: cover;
    width: 25px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }