<% layout('layouts/boilerplate')%>

<script type="module" src="/js/formValidation/index.js?v6" async defer></script>

<form action="/fountains" method="POST" enctype="multipart/form-data" id="form-to-validate"
    data-fieldsGetter="fountain.js">
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <h1 class="title is-4">Add Fountain</h1>
            <div class="columns">
                <div class="column is-8">
                    <div class="field">
                        <label class="label" for="inputStreet">Street</label>
                        <div class="control has-icons-right">
                            <input class="input" type="text" id="inputStreet" placeholder="Street"
                                name="address[street]">
                            <span class="icon is-small is-right">
                                <i id='inputStreetIcon' class="fas fa-exclamation-triangle is-hidden"></i>
                            </span>
                        </div>
                        <p id="inputStreetHelp" class="help is-danger is-hidden">Field is required</p>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="inputNumber">Number</label>
                        <div class="control has-icons-right">
                            <input class="input" type="text" id="inputNumber" placeholder="Number"
                                name="address[number]">
                            <span class="icon is-small is-right">
                                <i id='inputNumberIcon' class="fas fa-exclamation-triangle is-hidden"></i>
                            </span>
                        </div>
                        <p id="inputNumberHelp" class="help is-danger is-hidden">Field is required</p>
                    </div>
                </div>
            </div>


            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label" for="inputCity">City</label>
                        <div class="control has-icons-right">
                            <input class="input" type="text" id="inputCity" placeholder="City" name="address[city]">
                            <span class="icon is-small is-right">
                                <i id='inputCityIcon' class="fas fa-exclamation-triangle is-hidden"></i>
                            </span>
                        </div>
                        <p id="inputCityHelp" class="help is-danger is-hidden">Field is required</p>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="inputState">State</label>
                        <div class="control">
                            <input class="input" type="text" id="inputState" placeholder="State" name="address[state]">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="inputPostcode">Postcode</label>
                        <div class="control has-icons-right">
                            <input class="input" type="text" id="inputPostcode" placeholder="Postcode"
                                name="address[postcode]">
                            <span class="icon is-small is-right">
                                <i id='inputPostcodeIcon' class="fas fa-exclamation-triangle is-hidden"></i>
                            </span>
                        </div>
                        <p id="inputPostcodeHelp" class="help is-danger is-hidden">Field is required</p>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="inputCountry">Country</label>
                <div class="control has-icons-right">
                    <input class="input" type="text" id="inputCountry" placeholder="Country" name="address[country]">
                    <span class="icon is-small is-right">
                        <i id='inputCountryIcon' class="fas fa-exclamation-triangle is-hidden"></i>
                    </span>
                </div>
                <p id="inputCountryHelp" class="help is-danger is-hidden">Field is required</p>
            </div>

            <div class="field">
                <div class="control">
                    <div class="file has-name is-fullwidth">
                        <label class="file-label">
                            <input class="file-input" type="file" id="inputImage" name="image" multiple
                                accept="image/png, image/jpg, image/jpeg" data-maxCount="3" data-maxSize="5242880">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Upload image
                                </span>
                            </span>
                            <span class="file-name">
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="control">
                <button class="button is-info" id="submitButton" disabled="true">Submit</button>
            </div>

        </div>
    </div>
</form>